body {
  background-image: url("../img/background-dice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  font-size: 20pt;
  font-family: 'Londrina Shadow', cursive;
}

#twoPlayer {
  text-align: center;
  display: none;
}

.center {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 38pt;
  color: red;
  font-family: 'UnifrakturCook', cursive;
  letter-spacing: 10px;
}

#winner {
  font-size: 28pt;
  color: red;
}

img {
  height: 100px;
}

.spacer {
  margin-top: 10px;
  /* defined margin */
}

.wrapper {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}

#instructions {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}

#preheader {
  background-color: #449d44;
}

button {
  margin-left: 30px;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.2);
}
